.example-card {
  max-width: 400px;
  border-radius: 10px;
  border: 1px solid #e91e63;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
