<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Transactions Cart</mat-card-title>
    <mat-card-subtitle>
      <p style="color:orange;">{{fullName}} | {{documentType}}: {{documentNumber}}
      </p>
      <pre style="color: lime" *ngIf="logNumber != '' && !isProcessing">Operation Number: {{logNumber}}</pre>
      <pre style="color: lime" *ngIf="isProcessing">Processing...</pre>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div>
      <p style="font-size: 15px">List of Movements</p>
      <mat-horizontal-stepper [linear]="isLinear" #stepper class="mat-step">
        <mat-step [stepControl]="firstFormGroup">
          <div class="content-card">
            <form [formGroup]="firstFormGroup">
              <ng-template matStepLabel>Select your movements</ng-template>
              <table
                mat-table
                [dataSource]="dataSource"
                class="mat-elevation-z8"
              >
                <!-- Checkbox Column -->
                <ng-container matColumnDef="select">
                  <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox
                      (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()"
                    >
                    </mat-checkbox>
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <mat-checkbox
                      (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)"
                    >
                    </mat-checkbox>
                  </td>
                </ng-container>

                <!-- Position Column -->
                <ng-container matColumnDef="position">
                  <th mat-header-cell *matHeaderCellDef>No.</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.position }}
                  </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef>Name</th>
                  <td mat-cell *matCellDef="let element">{{ element.name }}</td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="weight">
                  <th mat-header-cell *matHeaderCellDef>Weight</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.weight }}
                  </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="symbol">
                  <th mat-header-cell *matHeaderCellDef>Symbol</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.symbol }}
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedColumns"
                  (click)="selection.toggle(row)"
                ></tr>
              </table>
            </form>
          </div>
          <div align="end" class="nextButton">
            <button mat-raised-button matStepperNext color="primary">
              Next
            </button>
          </div>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <div class="content-card">
            <form [formGroup]="secondFormGroup">
              <ng-template matStepLabel>Biometrics validation</ng-template>
              <app-biometric [documentNumber]="documentNumber"></app-biometric>
            </form>
          </div>
          <div align="end" class="nextButton">
            <button mat-raised-button matStepperPrevious>Back</button>
            <button mat-raised-button matStepperNext color="primary">
              Next
            </button>
          </div>
        </mat-step>
        <mat-step>
          <div class="content-card">
            <ng-template matStepLabel>Done</ng-template>
            You are now done. Your selection
            <pre>{{ selection.selected | json }}</pre>
          </div>
          <div align="end" class="nextButton">
            <button mat-raised-button matStepperPrevious>Back</button>
            <button
              mat-raised-button
              matStepperNext
              color="primary"
              (click)="handleProcess();stepper.reset()"
            >
              Process
            </button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </mat-card-content>
  <!-- <mat-card-actions align="center">
    <button mat-raised-button color="primary" style="width: 200px">
      PAY
    </button>
  </mat-card-actions> -->
</mat-card>
